{% extends 'base.html' %}
{% block title %}
  AFC ассистенты
{% endblock %}

{% block content %}
  <div class="container">
    <body>
      <h2>Лучшие ассистенты сезона {{ season }}</h2>
      <div class="row justify-content-center">
        <table>
          <thead class="border border-dark">
            <tr>
              <th class="px-1 text-center">Позиция</th>
              <th  class="px-1 text-center border-left border-dark">Ассисты</th>
              <th  class="px-1 text-center border-left border-dark">Игрок</th>
              <th  class="px-1 text-center border-left border-dark">Команда</th>
            </tr>
          </thead>
          <tbody>
            {% for assistant in assistants %}
              {% if assistant.team == team_1 %}
                <tr class="border border-dark table-warning">
              {% elif assistant.team == team_2 %}
                <tr class="border border-dark table-info">
              {% else %}
                <tr class="border border-dark">
              {% endif %}
                <td class="px-1 text-center small">
                  {{ assistant.position }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ assistant.assists }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ assistant.player }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ assistant.team.name }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </body>
  </div>
{% endblock %}
