<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Проект AFC</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <form action="/" method="get">
        <div style="float: left" class="px-2">
          <label for="team_name">Выбери команду:</label>
        </div>
        <div style="float: left" class="px-2">
          <select class="form-control form-control-sm" id="team_name" name="team_name" onchange="this.form.submit()">
            {% for team in teams %}
              <option {% if team.name == team_1.name %} selected {% endif %}>{{ team.name }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
      <div class="text-right w-50"><a href="{% url 'calendar-page' %}?team_name={{ team_1.name }}">Календарь</a></div>
    </div>
    <div class="row border border-dark" style="min-height: 220px;">
      <table class="w-100">
        <thead>
          <tr>
            {% if team_1.logo %}
              <th class="px-3" style="width: 25%"><img src={{ team_1.logo }} height="200"></th>
            {% else %}
              <th class="px-3" style="width: 25%"><img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc4YhcaWvEqQFSFv0LahokrMBi5UC9rnY33gnNdb4SOg&s height="200"></th>
            {% endif %}
            <th class="align-middle px-3" style="width: 50%">
              <h2 class="text-center">{{ team_1.name }} vs {{ team_2.name }}</h2>
              <h6 class="text-center"> {{ tournament }} {{ date }}</h6>
            </th>
            {% if team_2.logo %}
              <th class="px-3" style="width: 25%"><img src={{ team_2.logo }} height="200"></th>
            {% else %}
              <th class="px-3" style="width: 25%"><img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc4YhcaWvEqQFSFv0LahokrMBi5UC9rnY33gnNdb4SOg&s height="200"></th>
            {% endif %}
          </tr>
        </thead>
      </table>
    </div>
    <div class="row">
      <div class="col-6 p-0">
        <table class="border border-dark w-100">
          <thead class="border border-top-0 border-dark">
            <tr>
              <th class="px-1"><a href="{% url 'news-page' %}?team_name={{ team_1.name }}">Новости</a> команды {{ team_1.name }}</th>
              <th  class="px-1 text-center border-left border-dark">Дата</th>
            </tr>
          </thead>
          <tbody>
            {% if news_1 %}
              {% for item in news_1 %}
                <tr class="border border-dark">
                    <td class="px-1 small">
                      <a href={{ item.source }}>{{ item.title|slice:"100" }}...</a>
                    </td>
                    <td class="px-1 text-center align-middle small border-left border-dark">
                      {% now "d.m.Y" as today %}
                      {% if  today == item.date|date:"d.m.Y" %}
                        {{ item.date|date:"H:i" }}
                      {% else %}
                        {{ item.date|date:"d.m.y" }}
                      {% endif %}
                    </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="border border-dark">
                <td class="px-1 small">
                  Для команды {{ team_1.name }} новостей не обнаружено
                </td>
              </tr>
            {% endif %}
          </tbody>
          <thead class="border border-dark">
            <tr>
              <th class="px-1"><a href="{% url 'news-page' %}?team_name={{ team_1.name }}">Новости</a> команды {{ team_2.name }}</th>
              <th class="px-1 text-center border-left border-dark">Дата</th>
            </tr>
          </thead>
          <tbody>
            {% if news_2 %}
              {% for item in news_2 %}
                <tr class="border border-dark">
                    <td class="px-1 small">
                      <a href={{ item.source }}>{{ item.title|slice:"100" }}...</a>
                    </td>
                    <td class="px-1 text-center align-middle small border-left border-dark">
                      {% now "d.m.Y" as today %}
                      {% if  today == item.date|date:"d.m.Y" %}
                        {{ item.date|date:"H:i" }}
                      {% else %}
                        {{ item.date|date:"d.m.y" }}
                      {% endif %}
                    </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="border border-dark">
                <td class="px-1 small">
                  Для команды {{ team_2.name }} новостей не обнаружено
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col-6 p-0">
        <table class="border border-dark w-100">
          <thead class="border-right border-bottom border-dark">
            <tr>
              <th class="px-1" colspan="4">Положение соперников в <a href="{% url 'stats-page' %}?team_name={{ team_1.name }}">таблице {{ season}} сезона</a></th>
            </tr>
            <tr class="border border-left-0 border-dark">
              <th class="px-1 small"> Команда </th>
              <th class="px-1 small"> Позиция </th>
              <th class="px-1 small"> Матчи </th>
              <th class="px-1 small"> Очки </th>
            </tr>
          </thead>
          <tbody>
              <tr class="border border-left-0 border-dark">
                {% if stats_1 %}
                  <td class="px-1 small"> {{ team_1.name }} </td>
                  <td class="px-1 small"> {{ stats_1.position }} </td>
                  <td class="px-1 small"> {{ stats_1.matches }} </td>
                  <td class="px-1 small"> {{ stats_1.scored }} </td>
                {% else %}
                  <td class="px-1 small"> {{ team_1.name }} </td>
                  <td class="px-1 small"> - </td>
                  <td class="px-1 small"> - </td>
                  <td class="px-1 small"> - </td>
                {%  endif %}
              </tr>
              <tr class="border border-left-0 border-dark">
                {% if stats_2 %}
                  <td class="px-1 small"> {{ team_2.name }} </td>
                  <td class="px-1 small"> {{ stats_2.position }} </td>
                  <td class="px-1 small"> {{ stats_2.matches }} </td>
                  <td class="px-1 small"> {{ stats_2.scored }} </td>
                {% else %}
                  <td class="px-1 small"> {{ team_2.name }} </td>
                  <td class="px-1 small"> - </td>
                  <td class="px-1 small"> - </td>
                  <td class="px-1 small"> - </td>
                {%  endif %}
              </tr>
          </tbody>
        </table>
        <table class="border border-dark w-100">
          <thead class="border-right border-bottom border-dark">
            <tr>
              <th class="px-1" colspan="3">Лучшие <a href="{% url 'goalscorers-page' %}?team_name={{ team_1.name }}">бомбардиры сезона {{ season }}</a> в составе команд</th>
            </tr>
            <tr class="border border-left-0 border-dark">
              <th class="px-1 small"> Команда </th>
              <th class="px-1 small"> Бомбардир </th>
              <th class="px-1 small"> Голы </th>
            </tr>
          </thead>
          <tbody>
            {% if goalscorers_1 %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small" rowspan="{{ goalscorers_1_qty }}"> {{ team_1.name }} </td>
              </tr>
              {% for goalscorer in goalscorers_1 %}
                <tr>
                  <td class="px-1 small"> {{ goalscorer.player }} </td>
                  <td class="px-1 small"> {{ goalscorer.goals }} </td>
                </tr>
                {% endfor %}
            {% else %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small"> {{ team_1.name }} </td>
                <td class="px-1 small"> - </td>
                <td class="px-1 small"> - </td>
              </tr>
            {%  endif %}
            {% if goalscorers_2 %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small" rowspan="{{ goalscorers_2_qty }}"> {{ team_2.name }} </td>
              </tr>
              {% for goalscorer in goalscorers_2 %}
                <tr>
                  <td class="px-1 small"> {{ goalscorer.player }} </td>
                  <td class="px-1 small"> {{ goalscorer.goals }} </td>
                </tr>
                {% endfor %}
            {% else %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small"> {{ team_2.name }} </td>
                <td class="px-1 small"> - </td>
                <td class="px-1 small"> - </td>
              </tr>
            {%  endif %}
          </tbody>
        </table>
        <table class="border border-dark w-100">
          <thead class="border-right border-bottom border-dark">
            <tr>
              <th class="px-1" colspan="3">Лучшие <a href="{% url 'assistants-page' %}?team_name={{ team_1.name }}">ассистенты сезона {{ season }}</a> в составе команд</th>
            </tr>
            <tr class="border border-left-0 border-dark">
              <th class="px-1 small"> Команда </th>
              <th class="px-1 small"> Ассистент </th>
              <th class="px-1 small"> Ассисты </th>
            </tr>
          </thead>
          <tbody>
            {% if assistants_1 %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small" rowspan="{{ assistants_1_qty }}"> {{ team_1.name }} </td>
              </tr>
              {% for assistant in assistants_1 %}
                <tr>
                  <td class="px-1 small"> {{ assistant.player }} </td>
                  <td class="px-1 small"> {{ assistant.assists }} </td>
                </tr>
                {% endfor %}
            {% else %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small"> {{ team_1.name }} </td>
                <td class="px-1 small"> - </td>
                <td class="px-1 small"> - </td>
              </tr>
            {%  endif %}
            {% if assistants_2 %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small" rowspan="{{ assistants_2_qty }}"> {{ team_2.name }} </td>
              </tr>
              {% for assistant in assistants_2 %}
                <tr>
                  <td class="px-1 small"> {{ assistant.player }} </td>
                  <td class="px-1 small"> {{ assistant.assists }} </td>
                </tr>
                {% endfor %}
            {% else %}
              <tr class="border border-left-0 border-dark">
                <td class="px-1 small"> {{ team_2.name }} </td>
                <td class="px-1 small"> - </td>
                <td class="px-1 small"> - </td>
              </tr>
            {%  endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
