{% extends 'base.html' %}
{% block title %}
  AFC статистика
{% endblock %}

{% block content %}
  <div class="container">
    <body>
      <h2>Таблица статистики сезона {{ season }}</h2>
      <div class="row justify-content-center">
        <table>
          <thead class="border border-dark">
            <tr>
              <th class="px-1 text-center">Позиция</th>
              <th  class="px-1 text-center border-left border-dark">Команда</th>
              <th  class="px-1 text-center border-left border-dark">Матчи</th>
              <th  class="px-1 text-center border-left border-dark">Победы</th>
              <th  class="px-1 text-center border-left border-dark">Поражения</th>
              <th  class="px-1 text-center border-left border-dark">Ничья</th>
              <th  class="px-1 text-center border-left border-dark">Голы</th>
              <th  class="px-1 text-center border-left border-dark">Пропуски</th>
              <th  class="px-1 text-center border-left border-dark">Очки</th>
            </tr>
          </thead>
          <tbody>
            {% for stat in stats %}
              {% if stat.team == team_1 %}
                <tr class="border border-dark table-warning">
              {% elif stat.team == team_2 %}
                <tr class="border border-dark table-info">
              {% else %}
                <tr class="border border-dark">
              {% endif %}
                <td class="px-1 text-center small">
                  {{ stat.position }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.team.name }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.matches }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.win }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.loss }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.draw }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.scored }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.conceded }}
                </td>
                <td class="px-1 text-center align-middle small border-left border-dark">
                  {{ stat.points }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </body>
  </div>
{% endblock %}
